.sortBar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1%;
}

.btn{  
  border-radius: 25px;
  width: 200px;
  padding: 0.2%;
  border: none;
  background: #d4cbcb;
  font-family: SourceSansPro-Regular;
  font-size: 24px;
  letter-spacing: -0.15px;
  line-height: 48px;
  text-align: center;
  color: #a3a3a3;
}

.btn-active {
  border-radius: 25px;
  width: 200px;
  padding: 0.2%;
  border: none;
  font-family: SourceSansPro-Regular;
  font-size: 24px;
  letter-spacing: -0.15px;
  line-height: 48px;
  text-align: center;
  background: #0ad4fa;
  color: #ffffff;
}
