.products{
  background-color: #F2F2F2;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main {
  padding: 3rem;
  padding-top: 0mm;
}

.grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 20px;
  justify-content: center;
}
