.products{
  background-color: #F2F2F2;
  height: 100%;
  width: 100%;
}

.menu {
  color: grey;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.grid {
  padding: 3rem;
  padding-top: 0mm;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-gap: 30px;
  justify-content: center;
}
