.points-comp {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: grey
}

.options{
    flex-direction: row;
    justify-content: space-around;
}

.btn-add {
    padding: 1%;
    margin: 2%;
    background-color: #6e6b6b;
    color: honeydew;
}

.number {
    width: 150px;
    height: 50px;
    text-align: center;
}

.number:hover {
    background-color: #0ad4fa;
    color: #ffffff;
}
.btn-add:hover {
    background-color: #53cc35;
}