* {
  margin: 0;
  padding: 0;
}

.navigation-bar {
  background: #ffffff;
  height: 10%;
  width: 100%;
  left: 0px;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.profile {
  display: flex;
  flex-direction: row;
  float: right;
}

.profile p {
  font-family: Source Sans Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  height: auto;
  color: #616161;
  display: flex;
  align-items: center;
}

.points {
  display: flex;
  flex-direction: row;
  background: #ededed;
  border-radius: 20.5px;
  text-align: center;
  align-items: center;
  padding: 5%;
}
